exportPattern("^[[:alpha:]]+")
export(.onLoad)
export(fromto)
export(fromto2)
export(fromtoupdate)
export(geoann)
export(geoget)
export(geoget2)
export(geocli)
export(getsame_row_data1)
export(getsame_row_data2)
export(counts2tpm)
export(dplot1)
export(dplot2)
export(dplot3)
export(dplot4)
export(capitalize_first_letter)
export(merge_row)
export(merge_col)
export(merge_plot)
export(numericize_by_column)
export(zscore_row)
export(zscore_col)
export(minmax)
export(minmax_row)
export(minmax_col)
export(list2df)
export(not_in)
export(quantiles_df)
export(quantiles)
export(strsplit_fromto)
export(files_in_path)
export(files_be_filtered)
export(cor_test_col)
export(cor_test_row)
export(exp_fromto)
