exportPattern("^[[:alpha:]]+")
export(.onLoad)
export(fromto)
export(fromto2)
export(fromtoupdate)
export(geoann)
export(geoget)
export(geoget2)
export(geocli)
export(getmerge_row)
export(getsame_row_data1)
export(getsame_row_data2)
export(counts2tpm)
export(dplot1)
export(dplot2)