exportPattern("^[[:alpha:]]+")
export(.onLoad)
export(fromto)
export(fromto2)
export(fromtoupdate)
export(geoann)
export(geoget)
export(geoget2)
export(geocli)
export(same_row_data1)
export(same_row_data2)
export(counts2tpm)
export(dplot1)
export(dplot2)
export(dplot3)
export(dplot4)
export(capitalize_first_letter)
export(merge_row)
export(merge_col)
export(merge_plot)
export(numericize_by_column)
export(zscore_row)
export(zscore_col)
export(minmax)
export(minmax_row)
export(minmax_col)
export(list2df)
export(not_in)
export(quantiles_df)
export(quantiles)
export(strsplit_fromto)
export(files_in_path)
export(files_be_filtered)
export(cor_test_row)
export(cor_test_row_apply)
export(cor_test_row_apply_all)
export(cor_test_col)
export(cor_test_col_apply)
export(cor_test_col_apply_all)
export(exp_fromto)
export(remove_distinct)
export(order_fromto)
export(read_fromto)
export(list2df_rbind)
export(list2df_cbind)
export(scmarkers)
export(drivergene)
export(driverpubmed)
export(kmpot1)
export(survival_unicox)
export(survival_multicox)
export(fplot1)
export(fplot2)
export(rna_exp_pancancer)
export(rna_exp_singlecancer)
export(rna_exp_singlecancer_multigenes)
export(rna_exp_geo_singledataset_tumor)
export(rna_exp_st)
export(rna_exp_sc)
export(rna_exp_sc_tumor)
export(rna_exp_sc_gene)
export(rna_exp_st_gene)
export(protein_exp_cptac)
export(protein_exp_cptac_impute)
export(rna_sample_pancancer)
export(rna_survival_pancancer)
export(rna_gene_exp_pancancer)
export(rna_gene_exp_pancancer_zscore)
export(rna_gene_exp_singlecancer)
export(rna_gene_exp_singlecancer_zscore)
export(rna_gene_survival_pancancer)
export(rna_gene_survival_singlecancer)
export(sparkle_start_time)
export(zscore_col_genename)
export(survival_filter_year)
export(survival_filter_month)

